.App {
    text-align: center;
  }
  


.App-header {
    background-image: url('./assets/image/bg.png');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    padding: 5% 15% 50px 15%;
     
}



.sixth-content-container{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05);

    padding: 100px 20% 50px 20% !important;
}

.font-content-title{
    font-family: "Avenir-Book";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #5C6373;

}
.font-content-text{
    font-family: "Avenir-Book";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #5C6373;
}
.font-content-mini{
    font-family: "Avenir-Book";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: #5C6373;
    text-align: left;
}
.custom-input-text{
    width: 100%;
    border-radius: 10px;
    background-color: #F2F4F7;
    border: none;
    height: 56px;
    text-indent: 25px;
}
.custom-text-area{
    width: 100%;
    border-radius: 10px;
    background-color: #F2F4F7;
    border: none;
    height: 112px;
    text-indent: 25px;
    padding-bottom: 56px;
}
.btn-custom {
    background-color: #FF7D7D;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 244px;
    height: 60px;
  
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Avenir-Book";
}



.button-custom {
    background-color: #FF7D7D;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 240px;
    height: 60px;
    margin: 0px 0px 0px 0px !important;
  
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Avenir-Book";
}

@media (max-width: 800px) {
    .font-content-title{
        font-family: "Avenir-Book";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        color: #5C6373;
    
    }
    .font-content-text{
        font-family: "Avenir-Book";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        color: #5C6373;
    }
  }