.App-fifth-header {
  background-image: url('./assets/image/bg_yellow.png');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  padding: 5% 15% 0px 15%;
}
.fifth-content-container{
  background-color: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05);
  padding: 6% 10% 50px 10% ;
}
.button-custom-active {
  background-color: #FF7D7D;
  border-radius: 100px;
  border: none;
  display: inline-block;
  width: 240px;
  height: 60px;

  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Avenir-Book";
}
.button-custom-deactive {
  background-color: #F2F4F7;
  border-radius: 100px;
  border: none;
  display: inline-block;
  width: 240px;
  height: 60px;


  font-size: 14px;
  color: #C2C5CC;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Avenir-Book";
}
.font-third-title{
  font-family: "Avenir-Book";
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #7a8599;
}
.center-font-third-second{
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.5;
  color: #7A8599;
  text-align: center;
}
.font-third-one{
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #5C6373;

}
.font-third-second{
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #7A8599;
  text-align: left;
}

.img-fifth-one{
  width: 210px;
  height: 210px;
}
.img-fifth-two{
  width: 210px;
  height: 252px;
}
.col-sm-4.column1{
  width: 240px; 
}
@media (max-width: 800px) {
  .center-font-third-second{
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.5;
    color: #7A8599;
    text-align: center;
  }
  .font-third-title{
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #7a8599;
    margin-left: -20px;
    margin-right: -20px;
  }
  .img-fifth-one{
    width: 180px;
    height: 180px;
  }
  .img-fifth-two{
    width: 180px;
    height: 216px;
  }
}
@media (max-width: 990px){
  .fifth-content-container{
      padding-top: 50px;
  }
}
@media (max-width: 500px) {
  .center-font-third-second{
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 0.5;
    color: #7A8599;
    text-align: center;
  }
  .font-third-title{
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #7a8599;
  }
  .img-fifth-one{
    width: 150px;
    height: 150px;
  }
  .img-fifth-two{
    width: 150px;
    height: 180px;
  }
}
@media (max-width: 1200px){
  .button-custom-active {
    background-color: #FF7D7D;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 140px;
    height: 40px;
  
    font-size: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Avenir-Book";

    margin-bottom: 20px;
  }
  
  .button-custom-deactive {
    background-color: #F2F4F7;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 140px;
    height: 40px;
  
  
    font-size: 12px;
    color: #C2C5CC;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Avenir-Book";
  }
}

.cutsom-left-flex{
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */
  padding: 0px;
}
.cutsom-right-flex{
  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap-reverse;
  -webkit-flex-wrap:       wrap-reverse;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */
  padding: 0px;
}
@media (max-width: 360px) {
  .button-custom-active {
    background-color: #FF7D7D;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 100px;
    height: 30px;
  
    font-size: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Avenir-Book";

    margin-bottom: 20px;
  }
  
  .button-custom-deactive {
    background-color: #F2F4F7;
    border-radius: 100px;
    border: none;
    display: inline-block;
    width: 100px;
    height: 30px;
  
  
    font-size: 10px;
    color: #C2C5CC;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Avenir-Book";
  }
  .font-third-title{
    font-family: "Avenir-Book";
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #7a8599;
  }

  .font-third-second{
    font-family: "Avenir-Book";
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #7A8599;
    text-align: left;
  
  }
  .img-fifth-one{
    width: 80px;
    height: 80px;
  }

  .img-fifth-two{
    width: 80px;
    height: 96px;
  }
}
